* {
    padding: 0;
    margin: 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
}

body, html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 20px;
   
}

.box {
  
  --size: 50px;
  --p: 25px;
  --R: 55.9px /*sqrt(var(--size)*var(--size) + var(--p)*var(--p))*/;
  
  height: 200px;

  -webkit-mask:
    radial-gradient(var(--R) at 50% calc(100% - (var(--size) + var(--p))),blue 99%,#0000 101%) calc(50% - 2*var(--size)) 0/calc(4*var(--size)) 100%,
    radial-gradient(var(--R) at 50% calc(100% + var(--p)),#0000 99%,red 101%) 50% calc(100% - var(--size))/calc(4*var(--size)) 100% repeat-x;
  background:linear-gradient(90deg,red,purple);  
  border: none;
  
}

.column {
  float: left;
  width: 33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

a:hover { 
  background-color: DarkSalmon;
	
}

a:link { 
  color: black;
	
}

a:visited { 
  color: black;
	
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: DarkSalmon;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(197, 92, 128,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
